@use 'variables.scss' as *;

.container {
  background: linear-gradient($hero-bg-overlay, $hero-bg-overlay-dark), $hero-bg-image;
  color: $about-primary-color;
  background-size: $hero-bg-size;
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: $primary-color;
}

.hero {
  padding: 2rem 2rem;
  text-align: center;

  .heroContent {
    max-width: 50em;
    font-style: italic;
    margin: 0 auto;
  }

  .subtitle {
    font-size: 1rem;
  }
}

.content {
  margin-top: 2em;
  padding: 2rem 9rem;
  background-color: $secondary-color;

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    gap: 2.5em;
    max-width: 80em;
    max-height: 12em;
  }

  .imageContainer {
    position: relative;
    width: 30em;
    height: 12em;
    .image {
      object-fit:fill;
      border-radius: 0.6em;
    }
  }

  .textSection {
    h2 {
      margin-top: 0.4em;
      font-size: 1.7rem;
      margin-bottom: 0.7em;
    }

    p {
      font-size: 1rem;
      margin-bottom: 1em;
      line-height: 1.5em;
    }
  }
}

.values {
  padding: 1em 3em;
  text-align: center;

  h2 {
    font-size: 1.2rem;
    margin-top: 2.5em;
    margin-bottom: 0.5em;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    gap: 2em;

    .card {
      background-color: $secondary-color;
      padding: 1em;
      border-radius: 10px;
      box-shadow: $box-shadow;
      transition: transform 0.3s, background-color 0.3s;
      width: 25em;
      height: 5em;

      &:hover {
        transform: scale(1.1);
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
      }

      .icon {
        color: $highlight-color;
      }

      p {
        font-size: 1rem;
        line-height: 1.2;
      }
    }
  }
}

// Media query iPad Air
@media (max-width: 1280px) {
  .container {
    .hero {
      margin: 0 auto;
      text-align: center;
      max-width: 90%;
      .subtitle {
        font-size: $title-font-size;
      }
    }

    .content {
      padding: 2rem;
      height: 35em;
      width: 51.5em;
      .grid {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        max-height: 39em;
      }

      .imageContainer{
        margin: 1em auto;
        height: 25em;
        max-height:15em ;
        max-width: 38.5em;
      }

      .image{
        width: 45em;
      }

      .textSection {
        text-align: center;
        max-width: 90%;
        margin: auto;
        h2 {
          font-size: 1.7rem;
        }
        p{
          font-size: 1.2rem;
        }
      }
    }

    .values {
      margin-top: 1em;
      h2 {
        margin-top: 0.5em;
        font-size: 1.7rem;
      }

      .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2em;

        .card {
          width: calc(45% - 1rem);
          max-width: 25em; 
          max-height: 9em;
          padding: 0.5em;
        }

        .card:last-child {
          width: 100%; 
          padding-left: 2em;
          padding-right: 2em;
          max-width: 20em;
          height: 5em;
          align-self: center; 
        }
      }
    }
  }
}

//Media query iPhone 14 pro
@media (max-width: 580px) {
  .container {
    .hero {
      .subtitle {
        font-size: 0.8rem;
      }
    }

    .content {
      margin-top: 0;
      padding: 1em;
      height: 25em;
      width: 26.9em;
      .grid {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        max-height: 29em;
      }

      .imageContainer{
        margin: 0.2em auto;
        height: 15em;
        max-height:12em ;
        max-width: 20.5em;
      }

      .image{
        width: 15em;
      }

      .textSection {
        h2 {
          font-size: 1.2rem;
        }
        p{
          font-size: 0.8rem;
        }
      }
    }

    .values {
      padding: 0;
      h2 {
        margin-bottom: 1em;
        font-size: 1.2rem;
      }

      .cards {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        gap: 2em;

        .card {
         width: 18em;
         height: 3.7em;
         margin: 0 auto;
        }
        .card.card:last-child{
          width: 18em;
          height: 3.6em;
        }
        .icon {
          color: $highlight-color;
        }
        p {
          font-size: 0.8rem;
          line-height: 1.2;
        }
      }
    }
  }
}