.footer {
    margin-top: auto;
    background-color: #000000;
    color: rgb(223, 191, 131);
    text-align: center;
    padding: .5em;
    font-size: 0.8rem;
  }
  
  //Media query iPad Air
  @media (max-width: 1240px) {
    .footer{
      font-size: 1.1rem;
    }
  }
//Media query iPhone 14 pro
  @media (max-width: 580px) {
    .footer{
      font-size: 1rem;
    }
  }
