@use 'variables.scss' as *;
// Container
.container {
  padding: 20px;
  min-height: 82vh;
  font-family: $font-family;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), 
              url('../../public/cloudTwo.jpg');
}

// Title
.title {
  padding-top: 1rem;
  font-family: initial;
  font-style: italic;
  font-size: 2.5rem;
  color: $primary-color;
  display: flex;
  justify-content: center;
  text-decoration: underline;
}

// Category List
.categoryList {
  margin-top: 1em;
  list-style: none;
  padding: 50px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(3, minmax(140px, 2fr));
  gap: $grid-gap;
  justify-items: center;
}

// Category Item
.categoryItem {
  background-color: $background-color;
  cursor: pointer;
  color: $primary-color;
  width: $category-item-width;
  height: $category-item-height;
  display: flex;
  align-items: center;
  padding: 5px;
  border: 1px solid $border-color;
  border-radius: 8px;
  transition: background $transition-speed ease;
  font-size: 2rem;

  &:hover {
    transform: scale(1.2);
    background: $primary-color;
    color: black;
  }

  span{
    font-size: 1.5rem;
    font-weight: bold;
  }
}

.categoryImage {
  width: $category-image-width;
  height: $category-image-height;
  margin-right: 0.5em;
  border-radius: 0.4em;
  border-style: groove;
  border-color: black;
}

// Overlay
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $overlay-bg;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;

  .mealsSection {
    margin: auto;
    border-radius: 10px;
    max-width: 40em;
    height: 19em;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)),
                url('../../public/cloudTwo.jpg');
    cursor: pointer;
    color: $primary-color;
    border: 1px solid $border-color;
    font-size: 2rem;
    animation: fadeIn $fade-in-duration ease-in-out;
  }

  .sectionTitle {
    margin-top: 2%;
    text-align: center;
    color: $primary-color;
    font-size: 2.3rem;
  }

  .mealsList {
    margin-top: 1.4em;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    padding: 1%;
  }

  .mealItem {
    cursor: pointer;
    padding: $meal-item-padding;
    border: 1px solid $border-color;
    border-radius: $meal-item-border-radius;
    background-color: $background-color;
    color: $primary-color;
    display: grid;
    max-width: $meal-item-width;
    height: $meal-item-height;
    &:hover {
      transform: scale(1.2);
      background: $primary-color;
      color: black;
    }
  }

  .mealImage {
    width: $meal-img-width;
    height: $meal-img-height;
    margin-right: .5em;
    border-radius: 0.4em;
    border-color: black;
    border-style: groove;
  }

  .mealItem span {
    grid-column: 2 / 4;
    font-size: 1rem;
    font-weight: bold;
    margin: auto;
  }

  .closeButton {
    position: absolute;
    top: 8%;
    right: 7%;
    background: transparent;
    border: none;
    font-size: 1.6rem;
    cursor: pointer;

    &:hover {
      transform: scale($button-hover-scale);
    }
  }

  // Meal Details
  .mealDetails {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)),
                url('../../public/cloudTwo.jpg');
    border-radius: .4em;
    border: 1px solid $border-color;
    height: 90%;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    animation: fadeIn $fade-in-duration ease-in-out;
    position: relative;
    color:$primary-color;
    min-width: 90%;

    h2 {
      margin-top: 1em;
      font-size: 1.7rem;
      margin-bottom: .5em;
    }

    h4 {
      font-size: 1.2rem;
      text-decoration: underline;
    }

    li {
      padding: 4px;
      font-size: 1rem;
    }

    img {
      width: 18em;
      border-radius: .4em;
      margin: 1em ;
    }
  }

  .backToMeals {
    position: absolute;
    top: .2em;
    right: .7em;
    background:transparent;
    display: inline-block;
    border-style: none;
    font-size: 2.5rem;
    transition: transform 0.2s ease;
    color: red;
    cursor: pointer;

    &:hover {
      transform: scale($button-hover-scale);
    }
  }
}

// Keyframes
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}



// Media Query for iPad Air
@media (max-width: 1280px) {
  .container {
    padding: $padding-small;
    height: $container-height-iphone;
    height: 89vh;
  }

  .title {
    padding-top: 0.7em;
    font-size: 2.5rem;
  }

  .categoryList {
    margin-top: 2em;
    padding: $padding-default;
    gap: $gap-medium;
    grid-template-columns: repeat(2, minmax(140px, 2fr));
  }

  .categoryItem {
    width: 15em;
    height: 6em;
    font-size: $font-size-small;
    font-weight: bold;
  }

  .categoryImage {
    width:$meal-img-width;
    height: $meal-img-height;
    margin-right: 1em;
    border-radius: 0.5em;
    border-style: $border-style;
    border-color: $border-color;
  }

  .categoryList > .mealContainer:last-child .categoryItem {
   margin-left: 19em;
  }

  
// Overlay
.overlay {
  .mealsSection {
    margin: auto;
    border-radius: 0.4em;
    height: 90vh;
    width: 90%;
  }
  
  .mealItem span {
    font-size: 1.2rem;
  }

  .closeButton {
    top: 6.3%;
    right: 8%;
  }

  // Meal Details
  .mealDetails {
    
    h2 {
      margin-top: 0.5em;
      font-size: 2.3rem;
    }

    h4 {
      margin-top: 1em;
      font-size: 1.6rem;
      margin-bottom: 0.5em;
    }

    li {
      font-weight: bold;
      padding: 4px;
      font-size: 1.4rem;
    }
  }
}
}


// Media Query for iPhone 14 Pro
@media (max-width: 580px) {
  .title {
    font-size: 2.5rem;
  }

  .categoryList {
    margin-top: 2em;
    padding: 0;
    gap: 0.7em;
  }

  .categoryItem {
    width: 9.5em;
    height: 4em;
    padding: 4px;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: $font-size-small;
    font-weight: bold;
  }

  .categoryImage {
    width: 3.2em;
    height: 3.2em;
    margin-right: 0.2em;
    border-radius: 0.4em;
  }
  .categoryList > .mealContainer:last-child .categoryItem {
    margin-left: 10em;
    width: 9.8em;
   }
  .overlay {
    .sectionTitle {
      margin-top: 0.5em;
      font-size: 1.7rem;
    }

    .mealItem {
      justify-items: start;
      width: $width-medium;
      height:auto;
    }

    .mealImage {
      width: 3em;
      height: 2.1em;
    }

    .mealItem span {
      margin-left: 0em;
      font-size: $font-size-small;
    }

    .closeButton {
      top: 2.8em;
      right: 1.6em;
      font-size: 1.3rem;
    }

    .mealDetails {
      width: $width-default;

      h2 {
        margin-top: 1em;
        font-size: 1.7rem;
        margin-bottom: 1em;
      }

      img {
        max-width: 50%;
      }

      h4 {
        font-size: 1.5rem;
      }

      li {
        font-size: 1.3rem;
      }

      .backToMeals {
        right: 0.5em;
        top: 0.2em;
        font-size: $font-size-medium;
      }
    }
  }
}