@use 'variables.scss' as *;

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 9vh;
  padding: 10px 20px;
  background-color: $navbar-bg;
  color: $navbar-color;
  position: sticky;
  top: 0;
  z-index: 10;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logoContainer img {
  border-radius: 5px;
  width: 7em;
  height: 3em;
}

.titleContainer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: $highlight-color;
}

.title {
  font-family: $font-family;
  font-style: $font-style;
  font-size: $title-font-size;
  margin: 0;
}

.subTitle {
  font-family: $font-family;
  font-style: $font-style;
  font-size: $subtitle-font-size;
  margin: 0.1em;
}

.burger {
  display: flex;
  flex-direction: column;
  gap: $burger-gap;
  cursor: pointer;
  transition: transform 0.2s;
}

.burger:hover {
  transform: scale(1.2);
  background-color: $burger-hover-bg;
}

.burgerLine {
  width: $burger-line-width;
  height: $burger-line-height;
  background-color: $highlight-color;
  border-radius: 8px;
}

.overlay {
  position: fixed;
  top: .9em;
  right: .7em;
  width: 8%;
  height: 25%;
  z-index: -1;
  background-color: $overlay-bg;
  border: 1px groove $overlay-border;
  border-radius: 5px;
  display: none;
  flex-direction: column;
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
}

.overlay.showOverlay {
  display: flex;
  transform: translateX(0);
}

.overlay .navLinks {
  margin: 40% 0 0 5%;
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $overlay-gap;
  list-style: none;
  color: $highlight-color;
  text-decoration:underline;
}

//Media query iPad Air
@media (max-width: 1240px) {
  .logoContainer img {
    width: 7em;
    height: 4em;
  }

  .titleContainer {
    margin-left: 10px;
  }

  .title {
    font-size: 1.6rem;
    margin: 4px 0 2px;
  }

  .subTitle {
    font-size: 1rem;
  }

  .burger {
    gap: 6px;
    position: sticky;
    right: 0.7em;
  }

  .burger:hover {
    transform: scale(1.1);
    background-color: black;
  }

  .burgerLine {
    width: 2.5em;
    height: 0.35em;
  }

  .overlay {
    top: 20px;
    right: 11px;
    width: 10%;
    height: 15%;
    justify-content: center;
    align-items: center;
  }

  .overlay .navLinks {
    margin-top: 3em;
    font-size: 0.9rem;
    gap: 17px;
  }

  .navbar {
    height: 8vh;
  }
}


//Media query iPhone 14 pro
@media (max-width: 580px) {
  .logoContainer img {
    width: 65px;
    height: 50px;
  }

  .titleContainer {
    margin-left: 10px;
  }

  .title {
    font-size: 1.2rem;
    margin: 4px 0 2px;
  }

  .subTitle {
    font-size: 0.6rem;
  }

  .burger {
    gap: 4px;
  }

  .burger:hover {
    transform: scale(1.1);
    background-color: black;
  }

  .burgerLine {
    width: 30px;
    height: 4px;
  }

  .overlay {
    top: 20px;
    right: 4px;
    width: 20%;
    height: 15%;
    justify-content: center;
    align-items: center;
  }

  .overlay .navLinks {
    margin-top: 22%;
    font-size: 0.8rem;
    font-weight: 500;
    gap: 17px;
  }

  .navbar {
    height: 8vh;
  }
}