.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  width: 100%;
  padding: 10px 20px;
  background-color: #000000;
  color: white;
  //position: fixed;
  position: sticky;
  top: 0;
  z-index: 10;
  }
  
 


.logoContainer {
  display: flex;
  align-items: center;
}

.logoContainer img {
  border-radius: 5px;
  width: 130px;
  height: 90px;
}

.titleContainer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: rgb(223, 191, 131);
}

.title {
  font-family:initial ;
  font-style: italic;
  font-size: 2.1rem;
  margin: 0;
}

.subTitle {
  font-family:initial ;
  font-style: italic;
  font-size: 1.2rem;
  margin: 0;
}


/* Burger Menu Styles */
.burger {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.burgerLine {
  width: 40px;
  height: 6px;
  background-color:  rgb(223, 191, 131);
  border-radius: 8px;
}

/* Overlay Menu Styles */
.overlay {
  border-color: aliceblue;
  border-style:groove;
  border-radius: 5px;
  position: fixed;
  top: 35px;
  right: 15px;
  width: 10%;
  height: 20%;
  z-index: -1;
  background-color: rgba(4, 4, 4, 0.477);
  //color: white;
  display: none;
  //justify-content: center;
  //align-items: center;
  flex-direction: column;
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
}

.overlay.showOverlay {
  display: flex;
  transform: translateX(0);
}

.overlay .navLinks {
  margin-top: 5%;
  margin-left: 5%;
  flex-direction: column;
  font-size: 1.7rem;
  font-weight: bold;
  display: flex;
  gap: 30px;
  list-style: none;
  color: rgb(223, 191, 131);
}

@media (max-width: 768px) {
  .titleContainer {
    width: 60%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .title {
    font-size: 1rem;
  }

  .subTitle {
    font-size: 0.5rem;
  }

  .logoContainer img {
    border-radius: 5px;
    width: 65px;
    height: 60px;
  }
}
