// About variables
$about-primary-color: white;
$secondary-color: rgba(255, 255, 255, 0.242);
$highlight-color: #ffcc00;
$box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
$font-size-base: 1rem;
$font-size-large: 2rem;


//Navbar variables
$navbar-bg: #000000;
$navbar-color: white;
$highlight-color: rgb(223, 191, 131);
$burger-hover-bg: rgb(134, 56, 0);
$overlay-bg: rgba(4, 4, 4, 0.477);
$overlay-border: aliceblue;
$font-family: initial;
$font-style: italic;
$title-font-size: 2.1rem;
$subtitle-font-size: 1.2rem;
$burger-line-width: 40px;
$burger-line-height: 6px;
$burger-gap: 5px;
$overlay-gap: 30px;

// Menu variables
$font-family: 'Arial', sans-serif;
$primary-color: rgb(223, 191, 131);
$background-color: #868484aa;
$highlight-color: rgb(223, 191, 131);
$border-color: #ccc;
$overlay-bg: rgba(0, 0, 0, 0.853);
$fade-in-duration: 0.6s;
$transition-speed: 0.3s;
$grid-gap: 50px;
$button-hover-scale: 1.3;
$meal-img-width: 120px;
$meal-img-height: 100px;
$category-item-width: 350px;
$category-item-height: 100px;
$meal-item-padding: 10px;
$meal-item-border-radius: 5px;
/////
$font-size-default: 16px;
$font-size-medium: 1.8rem;
$font-size-large: 3.2rem;
$font-size-huge: 4.5rem;
$font-size-small: 1.3rem;

$padding-default: 15px;
$padding-small: 5px;
$padding-medium: 10px;

$gap-default: 60px;
$gap-small: 15px;
$gap-medium: 35px;
$gap-large: 70px;

$border-style: groove;
$border-color: black;

$width-default: 90%;
$width-medium: 95%;
$height-medium: 180px;

$container-height-ipad: 90vh;
$container-height-iphone: 87vh;


// Home variables
$container-height-large: 82vh;
$container-height-medium: 90vh;
$container-height-small: 86vh;

$hero-image-width-large: 30%;
$hero-image-width-medium: 35%;
$hero-image-width-small: 40%;

$hero-image-max-width: 400px;
$hero-image-bottom-large: 10%;
$hero-image-bottom-medium: 15%;
$hero-image-right-large: 5%;
$hero-image-right-medium: 5%;
$hero-image-top-medium: 20%;
$hero-image-top-small: 15%;

$hero-bg-overlay: rgba(0, 0, 0, 0.6);
$hero-bg-overlay-dark: rgba(0, 0, 0, 0.8);
$hero-bg-image: url('../../public/cloudTwo.jpg');
$hero-bg-size: cover;
$hero-bg-position: center;

$vision-text-width: 53%;
$vision-text-top-large: 55%;
$vision-text-top-medium: 65%;
$vision-text-font-size: 1.8rem;
$vision-text-color: white;